<?xml version="1.0"?>
<!--
/**
 * @package    Magefever_Pdf
 * @author     support@magefver.com
 * @version    100.0.0
 * @license    OSL v3.0
 */
-->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
     <preference for="Magento\Sales\Model\Order\Pdf\Invoice" type="Magefever\Pdf\Model\Order\Pdf\Invoice" />
</config>